.primary-container{
    display: flex;
}
.nav-container{
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 4rem;
    gap: 15px;
}


.dashboard-area{
    flex: 1;
}