.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px 20px 0px;
}
.navbar p {
  color: white;
  font-size: 16px;
  font-family: monospace;
  font-weight: 500;
}
.navbar .login-btn {
  padding: 6px 18px;
  font-size: 14px;
  font-family: monospace;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #4caf50;        /* nice green */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar .login-btn:hover {
  background-color: #45a049;
  transform: translateY(1px) scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}